
footer{
    background-color: #4682b4;
    margin: 2% 0% 0% 0%;
    
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.return-top-button{
    width: 100%;
    background-color: #1e90ff;
    position: relative;
}
.return-to-top{
    width: 100%;
    padding: 1% 0%;
    font-size: 1em;
    border: none;
    background-color: #1e90ff;
}
.return-to-top:hover{
    cursor: pointer;
    color: white;
    font-weight: bolder;
}
.return-to-top::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    top: 0;
    border-top: 2px #87ceeb solid;
    transition: width 0.5s ease-in-out;
    z-index: 1;
}
.return-to-top:hover::after{
    width: 100%;   
}
.return-to-top::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 0;
    border-bottom: 2px #87ceeb solid;
    transition: width 0.5s ease-in-out;
    z-index: 1;
}
.return-to-top:hover::before{
    width: 100%;   
}
.contact-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    margin: 5% auto;
    justify-content:center;
    align-content: center;  
}
.contact-div> div{  
    margin: 0 ;
    width: 100%;
}
.contact-div> div> img{
    width: clamp(40px, 10vw, 100px);
    margin: auto;
}
.contact-div-contents> span{
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 2rem;
    text-align: left;
}
.footer-links{
    text-decoration: none;
    font-size: 0.8em;
    margin: 1% 0%;
    color: black;
     margin-left: 2rem;
}
.footer-links:hover{
    cursor: pointer;
   color: #87ceeb;
}
.alright-reserve{
    width: 100%;
    font-size: 0.6em;
    padding: 1% 0%;
    border-top: 1px #87ceeb solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.alright-reserve a{
    width: clamp(15px, 1.5vw, 30px);
}
.alright-reserve a img{
    width: 100%;
}
@media only screen and (max-width: 599px){
    .contact-div{
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        justify-content: center;
    }
    .contact-div-contents{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .contact-div-contents> span{
        width: fit-content;
        margin: 15px 0 5px 0;
    }
    .footer-links{
        width: fit-content;
        margin: 0;
    }
}
@media (min-width: 600px) and (max-width: 768px){
     .contact-div{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
/*

@media only screen and (max-width: 360px){
    footer{
        display: none;
        min-width: 100%;
        margin: 0% 0% 10% 0%;
    }
    footer div button{
        font-size: 0.95rem;
    }
    .contact-div{
        width: 100%;
        height: auto;
        display: flex;
        margin: 0%;
        justify-content:start;
        align-content: start;
        gap: 0%;
    }
    .contact-div div{
        width: fit-content;
        margin: 0;
        padding: 2% 0%;
         gap: 0%;
        font-size: 0.9rem;
    }
    .contact-div div:first-child{
        max-width: 20%;

    }
    .contact-div div:nth-child(2){
        min-width: 50%;
    }
    .contact-div div:last-child{
        min-width: 30%;
    }
    .hidden-in-mobile{
        display: none;
    }
    .contact-div img{
        max-width: 40%;
        min-height: 40%;
        margin: auto 0%;
        justify-self: center;
        align-self: center;
    }
    .contact-div-contents span{
        margin-bottom: 2%;
        font-size: 0.9rem;
    }
    .contact-div-contents a{
        margin: 0;
    }
    .alright-reserve{
        border-top: none;
    }
    .temporary-footer-reserve{
    max-width: 30%;
    font-size: 1em;
    padding: 1% 0%;
    display: flex;
    gap: 0%;
    }
    .temporary-footer-reserve p{
    margin: 0;
    font-size: 0.7em;
    }
    .temporary-footer-reserve a{
    display: none;
    }
    .alright-reserve a img{
    display: none;
    }
      .alright-reserve-acc-footer,
    .alright-reserve-burgerlinks-footer,
    .alright-reserve-cart-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    margin: auto 0% 2.3rem 0%;
    padding: 1% 0%;
    background-color: #4682b4;
    font-size: 0.6em;
}
.alright-reserve-acc-footer p,
.alright-reserve-burgerlinks-footer p
.alright-reserve-cart-footer p{
    width: 100%;
    
    color: black;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 1% 0;
}
.alright-reserve-acc-footer img,
.alright-reserve-burgerlinks-footer img,
.alright-reserve-cart-footer img{
    width: 1rem;
}
}*/

/*
@media only screen and (max-width: 599px){
    .contact-div{
    margin: 1% auto;
    gap: 5%;
    }
    .contact-div div:first-child{
        min-width: unset;
    }
    .contact-div div{
        align-items: start;   
    }
    .contact-div div span{
        font-size: 0.8em;
        margin: 2% 0% 1% 10%;
    }
    .contact-div img{
        width: 25%;
        margin: auto;
    }
    .contact-div-contents a{
        font-size: 0.65em;
        margin: 1% 0% 1% 10%;
    }
}
/*
@media (min-width: 541px) and (max-width: 768px){
    .contact-div{
    margin: 1% auto;
}
.contact-div div:first-child{
    min-width: 100%;
}
.contact-div div{
    margin: auto;
    display: inline-flex;
    flex: 0 0 fit-content !important;   
    width: fit-content !important;       
    max-width: none !important;
}
.contact-div img{
    width: auto;
    height: 3rem;
    margin: auto;
}

.contact-div-contents{
    gap: unset;
}
.contact-div-contents span{
    margin: 0% 0% 0.5rem 0%;
    font-size: 0.85em;
}
.contact-div-contents a{
    margin: 0% 0%;
    padding: 0;
    line-height: 1.5;
}
.alright-reserve-cart-footer p{
    font-size: 0.7rem;
}
.alright-reserve-cart-footer img{
    width: 1rem;
}
}
@media (min-width: 769px) and (max-width: 1024px){
    .contact-div{
    margin: 0;
    padding: 3% 0%;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10%;
}
.contact-div div:first-child{
    min-width: unset;
    max-width: unset;
    width: fit-content;
}
.contact-div div{
    display: inline-flex;
    align-items: start; 
    margin: 0;
    height: 100%;  
    flex: 0 0 fit-content !important;   
    width: fit-content !important;       
    max-width: none !important;
}
.contact-div img{
    width: auto;
    height: 5rem;
    margin: auto;
}

.contact-div-contents{
    gap: unset;
}
.contact-div-contents span{
    margin: 0% 0% 1rem 0%;
}
.contact-div-contents a{
    margin: 0% 0%;
    padding: 0;
    line-height: 1.5;
}

}