
.main-panel-upper{
    height: clamp(300px, 60vw, 600px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.upper-carousel-wrap{
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
}
.upper-carousel-wrap> div> img{
    width: 100%;
    min-width: 100vw;
    margin-top: 10vh;
    height: clamp(300px, 80vh, 500px);
}
.main-panel-upper-h2{
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    width: 90%;
    position: absolute;  
    margin: 20rem 0 0 4rem;
}
.upper-carousel-wrap> div> p{
    font-size: clamp(0.7rem, 1.5vw, 1.2rem);
    font-weight: bolder;
    width: 90%;
    position: absolute;  
    margin: 22rem 0 0 4rem;
}
.upper-carousel-button{
    padding: clamp(10px, 2vw, 15px) clamp(20px, 3vw, 30px);
    font-size: clamp(1rem, 1.5vw, 3rem);
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
    transition: 0.3s;
    position: absolute;  
    margin: 25rem 0 0 4rem;
    background-color: #ff7a18;
    color: white;
}
.upper-carousel-button:hover{
    cursor: pointer;
     background-color: #e85d04;
}
@media only screen and (max-width: 599px){
    .upper-carousel-wrap> div> img{
        margin-top: 6vh;
    }
    .main-panel-upper-h2,
    .upper-carousel-wrap> div> p{
        display: none;
    }
    .upper-carousel-button{
        margin: 9rem 0 0 2rem;
    }
}
@media (min-width: 600px) and (max-width:768px){
    .main-panel-upper-h2{
        margin: 15rem 0 0 2rem;
    }
    .upper-carousel-wrap> div> p{
        margin: 17rem 0 0 2rem;
    }
    .upper-carousel-button{ 
        margin: 20rem 0 0 2rem;
    }
}
.main-panel-upper-first{
    width: 100%;
    flex-direction: column;
}
.main-panel-upper-second{
    width: 100%;
    flex-direction: column;
}
.main-panel-upper-third{
    color: white;
    text-shadow: 1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 5px rgba(0,0,0,0.65);
    width: 100%;
    height: 20%;
    flex-direction: column;
}
.upper-carousel{
    position: absolute;
     inset: 0;
     opacity: 0;
     display: flex;
}
.upper-carousel.upper-display{
    opacity: 1;
}
.upper-carousel.upper-hide{
    opacity: 0;
}
.upper-carousel-buttons{
    display: flex;
    width: 100%;
    max-height: 10%;
}
.left-upper, .right-upper{
    position: absolute;
    top: 50%;
    font-size: 3vw;
    margin: auto;
    padding: 0;
    color: white;
    text-shadow: 1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 5px rgba(0,0,0,0.65);
    transform: translateY(-50%);
    cursor: pointer;
}
