.clothe-panel{
    width: 95vw;
    overflow: hidden;
    background-color: white;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
}
.clothe-panel> h2{
    margin: 1em 0 0.5em 1em;
    font-size: 2em;
    font-weight: bolder;  
}
.item-title-category{
    color: #4682b4;
}

.clothing{
    width: 100%;
    padding: 0 20px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.clothing> li{
    width: 100%;
    margin: 0 auto;
    border: 1px #4682b4 solid;
    display: grid;
    flex-direction: column;
    border-radius: 0.25em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}


.item-descript{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.item-descript> div{
    width: inherit;
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.item-descript> div> p{
    display: flex;
    flex-direction: column;
}
.item-descript> div> p> span{
    font-size: clamp(1.1rem, 1.2vw 1.5rem);
    font-weight: bolder;
    color: #4682b4;
}
.item-descript> div> p:last-child{
    margin-left: auto;
    text-align: left;
}
.item-descript> p{
    font-size: clamp(1.2rem, 1.3vw 1.6rem);
}
.item-descript> p:nth-child(2){
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.item-descript> img:nth-child(3){
    width: clamp(150px, 65%, 250px);
    aspect-ratio: 1 / 1;
    margin: 10px auto;
    border-radius: 0.25em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.item-descript> p:nth-child(4){
   width: 100%;
   font-size: clamp(0.8rem, 1vw, 1.2rem);
   margin: 10px auto;
}
.item-size{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.item-size> h2{
    font-size: 1.1em;
    display: flex;
    align-self: center;
    margin: 0% 2% 5% 0%;
}
.item-size> label{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1em;
    display: flex;
    align-self: center;
    align-items: center;
}
.item-size label input[type="radio"]{
    display: none;
}
/*Use only when using checkbox*/
/*
.item-size label input[type="checkbox"]{
    display: none;
}
.item-size input[type="checkbox"]:checked + .select-size{
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
}*/
.select-size{
    font-size: clamp(0.6rem, 0.9vw, 1.2rem);
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    width: 80%;
    min-width: 20%;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.item-size input[type="radio"]:checked + .select-size{
    background-color: #87ceeb;
    border-color: #4682b4;
    color: #111;
}
.clothing li label{
    margin: 0% 0% 5% 0%;
}
.item-cart-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0% auto 3% auto;
    align-content: center;  
}
.add-cart-button{
    min-width: 50%;
    border-radius: 0.25em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);  
}
.item-cart-button> span{
    width: 8%;
    margin: auto 5%;
    font-size: 1em;
    text-align: center;
    color: #4682b4;
    font-weight: bold;
}
.item-cart-button> button:first-child{
    background-color: #87ceeb;
    border: 1px  #4682b4 solid;
    border-radius: 0.25em;
    width: fit-content;
    font-size: 0.85em;
}
.item-cart-button> button:nth-child(2){
    margin: 0% 0% 0% 3%;
    width: 1.5rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.item-cart-button button:nth-child(4){
    margin: 0% 3% 0% 0%;
    width: 1.5rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.left, .left-shoes{
    left: -0.2%;
    width: 2.5em;
    height: 3em;
    color: #87ceeb;
    position: absolute;
    display: none;
}
.right, .right-shoes{
    right: -0.2%;
    width: 2.5em;
    height: 3em;
    color: #87ceeb;
    display: none;
}
.left:hover, .right:hover, .left-shoes:hover, .right-shoes:hover{
    color: #4682b4;
}

/*
.owl-carousel-container, .owl-carousel-container-shoes{
    max-width: 100%;
    width: 100%;
    position: relative;
}
.carousel-item, .carousel-item-shoes{
    min-width: 23.8%;
    max-width: 25%;
}

.carousel-button{
  border: none;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 50%;
 /* transform: translateY(-50%);*/
 /*
  z-index: 1;
  background-color: transparent;
  
}
.carousel-button i{
    font-size: 2.5em;
}

@media only screen and (min-width: 431px){

.owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes{
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.owl-carousel, .owl-carousel-shoes{
    width: 95%;
    margin: 0% auto;
}
.owl-carousel::-webkit-scrollbar, .owl-carousel-shoes::-webkit-scrollbar{
    display: none;
}
.owl-carousel :where(.carousel-item), .owl-carousel-shoes :where(.carousel-item-shoes){
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel.dragging, .owl-carousel-shoes.dragging{
    scroll-snap-type:none;
    scroll-behavior:auto;
}
.owl-carousel.no-transition, .owl-carousel-shoes.no-transition{
    scroll-behavior: auto;
}
.owl-carousel.dragging .carousel-item, .owl-carousel-shoes.dragging .carousel-item-shoes{
    cursor: grab;
    user-select: none;
}
}/*
@media screen and (max-width: 900px) {
    .owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (min-width: 431px) {
    .owl-carousel-container .owl-carousel, .owl-carousel-container-shoes .owl-carousel-shoes {
        grid-auto-columns: 100%;

    }
    
}*/
@media only screen and (max-width: 430px){
    .item-panel{
        gap: 1em;
        margin: 0;
        min-width: 100%;
    }
    .clothe-panel{
        width: 98%;
        margin: 2% auto;
        overflow: hidden;
        background-color: white;
        padding: 0;
    }
    .clothe-panel h2{
        font-size: 1.5em;
        margin: 2% 0% 2% 2%;
    }
    
    .carousel-button i{
        display: none;
    }
    
    .clothing{
        position: relative;
        overflow:visible;
        gap: 5%;
        margin: 0;
        padding: 0;
        align-self: center;
        transition: .3s ease-in-out;
    }
    .carousel-item,
    .carousel-item-shoes{
        min-width: 80%;
        height: 40%;
        margin: 0% 10%;
    }
    .item-descript{
        min-width: 100%;
       flex-wrap: nowrap;
       flex-direction: column;
    }
    .item-descript p{
        min-width: 100%;
        font-size: 0.9em;
        margin: 0% auto 0% auto;
        display: flex;
        flex-direction: row;
        align-content: start;
        flex-wrap: nowrap;
    }
    .item-descript p span{
        font-size: 1em;
        height: fit-content;
        margin: 0% 0% 0% 3%;
        padding: 0;
    }
    .item-descript p:first-child{
        align-content: start;
        justify-content: start;
        margin: 2% 0% 0% 2%;  
    }
    .item-descript p:nth-child(2){
        text-align: left;
        margin: 2% 0% 0% 2%;
    }
    .item-descript p:nth-child(3){
        width: fit-content;
        margin: 2% 0% 0% 2%;
    }
    .item-descript img:nth-child(4){
        max-width: 90%;
        max-height: 11em;
        margin: 2% auto;
        border-radius: 0.25em;
    }
    .item-descript p:nth-child(5){
        min-width: 90%;
        font-size: 0.8em;
        margin: 0% auto;
    }
    .item-size{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 2% auto;
        justify-items: center;
    }
    .clothing li label{
        margin: auto;
    }
    .clothing li:first-child label{
        margin: 0% 0% 0% 2%;
    }
    .item-size h2{
        font-size: 0.8em;
    }
    .item-size label{
        font-size: 0.8em;
    }
    .item-cart-button{
        font-size: 0.8em;
    }
    .add-cart-button{
        min-width: 40%;
    }
        .item-cart-button span{ 
        font-size: .9em;
        margin: auto 7%;  
    }
    .item-cart-button button:first-child{
        border-radius: 0.25em;
        font-size: 1.25;
    }
    .mobile-main-panel-carousel-dots,
    .mobile-main-panel-slider-dots,
    .mobile-main-panel-carousel-dots-2,
    .mobile-main-panel-slider-dots-2{
        display: flex;
        justify-content: center;
        margin: 2% 0%;
        padding: 0;  
    }
    .mobile-main-panel-dots,
    .mobile-main-panel-dots-2{
        display: inline-block;
        width: 0.9em;
        height: 0.6em;
        margin: 0.2em;
        border-radius: 0.2em;
        background: #000000;
        border: 1px black solid;
    }
    .mobile-main-panel-dots.mobile-main-panel-active,
    .mobile-main-panel-dots-2.mobile-main-panel-active-2 {
        background: #4682b4;
    } 
}
@media only screen and (max-width: 360px){
    .item-cart-button{
        min-width: 60%;
        max-width: 100%;
        width: 90%;
    }
    .item-cart-button span{
        font-size: .9em;
        margin: auto 2%;
        text-align: center;
    }
    .item-cart-button button:first-child{
        font-size: 0.85em;
    }
}
@media only screen and (max-width: 768px){
    .left, .left-shoes{
    left: -0.78%;
    }
    .right, .right-shoes{
    right: -0.78%;
    }
}
@media only screen and (max-width: 540px){
    .left, .left-shoes{
    left: -1.2%;
    width: 2em;
    height: 3em;
    }
    .right, .right-shoes{
    right: 0.6%;
    width: 1.5em;
    height: 3em;
    }
    .carousel-button i{
    font-size: 2em;
    }
}

